body {
  background-color: #2f2f2f;
  background-image: url("assets/bubbles0.png"); /*Under_construction_graphic.gif);*/
  background-repeat: repeat;
  background-size: 100%;
}

body a {
  color: pink;
}

body a:hover {
  position: relative;
  bottom: 3px;
}

#MainTitle {
  /*  color: #f0f0f0;*/
  color: #65366b; /*#000000;*/
  font-size: 72px;
  -webkit-text-stroke: 2px magenta;
}

#FlexParent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 20px;
}

#LinkTitle {
  background-color: #adadad;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2%;
}

#GamesBox {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
}

#LinkContainer {
  padding: 20px;
  background-color: #3c3c3c;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  border-radius: 2%;
}

#ImageLinkRow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 8px;
}

#TwitchEmbed {
  display: flex;
  background-image: url("assets/Under_construction_graphic.gif");
  /* place image here for when twitch embed is loading
  */
  justify-self: flex-end;
  margin: 20px;
  margin-top: 0px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.art {
  display: none;
  padding: 0 18px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.image_column {
  flex: 50%;
  padding: 0 4px;
  margin: 12px;
}

.image_column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 24%;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

.big_img_container {
  position: relative;
  display: none;
}

/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
